ul {
    padding: 10px;
    margin: var(--margin);
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    background: #f8f8f8;
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

li.completed {
    color: gray;
    background: #d4edda;
}

li:hover {
    background: #e0e0e0;
}